* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "monocraft";
  color: #fff;
}

#score {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
}

#playground {
  height: 100vh;
  width: 100vw;
  background-color: rgb(26, 26, 26);
}

#spawnprotection {
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#player {
  height: 180px;
  position: absolute;
  transform: translate(-100px, -100px);
  animation-name: idle;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.enemy0 {
  height: 50px;
  width: 50px;
  position: absolute;
  animation: asteroids 2s linear infinite;
}

.enemy1 {
  height: 60px;
  width: 60px;
  position: absolute;
  animation: asteroids 2s linear infinite;
}

.enemy2 {
  height: 70px;
  width: 70px;
  position: absolute;
  animation: asteroids 2s linear infinite;
}

.explosion-animation {
  position: absolute;
}

#gameover-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 52px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 50px;
}

a {
  display: inline-block;
  font-size: 20px;
  padding: 5px 20px;
  margin-bottom: 10px;
  background: none;
  border: #fff solid 3px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

@keyframes idle {
  0% {
    rotate: 0deg;
    transform: translate(-100px, -100px);
    height: 180px;
  }
  25% {
    rotate: 3deg;
    transform: translate(-98px, -93px);
    height: 185px;
  }
  50% {
    rotate: 1deg;
    transform: translate(-101px, -103px);
  }
  75% {
    rotate: -2deg;
    transform: translate(-103px, -95px);
  }
  100% {
    rotate: 0deg;
    transform: translate(-100px, -100px);
    height: 180px;
  }
}

@keyframes asteroids {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
